---
import Logo1 from "../assets/logo-1.svg"
import Logo2 from "../assets/logo-2.svg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style global>
			@import "../styles/global.css";
		</style>
	</head>

	<body>
		<div class="h-screen w-screen grid grid-cols-3">
			<div class="h-3/4 logo-1">
			<center>
				<img src={Logo1} height="500px" width="500px"/>
			</center>
			</div>
			<div class="h-3/4 logo-2">
				<img src={Logo2} height="500px" width="500px"/>
			</div>
			<div class="h-3/4 logo-3"></div>
		</div>
	</body>
</html>
